---
import BaseHead, { metacontent } from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/base.css";
export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
const getpre = () =>{
}
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} content={metacontent.index} image={heroImage}/>
		<style>
			hr {
  				border-top: 1px solid #DDD;
				margin: 1rem 0 3rem 0;
			}
			main{
				display: flex;
				align-item: center;
			}
			.article{
				width: 100%;
				display: flex;
				flex-direction: column;
			}
			.article p{
				font-size: 20px;
			}
		</style>
		<script src="/assets/js/blogpost.js" is:inline defer></script>
	</head>

	<body>
		<Navbar />
		<main class="container mx-auto w-11/12 mt-16 md:mt-32">
			<article class="article">
				{heroImage && (
					<img
						src={heroImage}
						alt={title}
						class="rounded-xl"
						style="align-self: center;"
					/>
				)}
				<h1 class="text-4xl md:text-6xl mt-10 md:m-none font-BebasNeue">{title}</h1>
				{pubDate && <time>{pubDate}</time>}
				{updatedDate && <div>Last updated on <time>{updatedDate}</time></div>}
				<hr/>
				<slot />
			</article>
		</main>
			<!-- temp div -->
			<div class="text-4xl text-2xl text-lg text-xl mt-3 mt-5 text-red-600 bg-red-100 font-bold">
			</div>
			<div class="p-1 p-5 rounded-md text-lg md:text-xl"></div>

		<Footer />

	</body>
</html>
